@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: rgb(33, 37, 41);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  object-fit: contain;
  max-width: 100%;
}
